@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Public Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #131429;
  background-size: 100%;
}
::selection {
  color: #fff;
  background: #d43f8d;
}
.container {
  max-width: 70rem;
  width: 36rem;
  background: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 5rem 3.5rem 1rem 3.5rem;
}
.container header {
  font-size: 4rem;
  font-weight: 60;
  margin: 0 0 3rem 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 3rem;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 33rem;
  height: 4.5rem;
  margin: 4.5rem 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  font-size: 1.8rem;
  position: absolute;
  top: -2.5rem;
  font-weight: 500;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}
form .page .field select {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(100% + 0.5rem);
  border: none;
  background: #52535c;
  margin-top: -2rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #099e00;
}
form .page .btns button {
  margin-top: -2rem !important;
}
form .page .btns button.prev {
  margin-right: 0.3rem;
  font-size: 1.7rem;
}
form .page .btns button.next {
  margin-left: 0.3rem;
}
.container .progress-bar {
  display: flex;
  margin: 4rem 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 1.8rem;
  color: #52535c;
  margin-bottom: 0.8rem;
}
.progress-bar .step .bullet {
  height: 2.5rem;
  width: 2.5rem;
  border: 0.2rem solid #52535c;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.progress-bar .step .bullet.active {
  border-color: #099e00;
  background: #099e00;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 1.1rem;
  right: -5.5rem;
  height: 0.3rem;
  width: 4.6rem;
  background: #52535c;
}
.progress-bar .step .bullet.active:after {
  background: #099e00;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #099e00;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}

@media (max-width: 998px) {
  html {
    font-size: 60%;
    width: 100%;
  }
}
